.row {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
}

h1 {
  text-align: center;
  color: #83b9cc;
}

.title {
  font-size: 20pt;
  font-weight: bold;
  color: #83b9cc;
}

.container {
  border-style: solid;
  background-color: white;
  height: 130px;
  width: 400px;
  margin-bottom: 20%;
}

body {
  background-color: #0f5a75;
}

.addButton {
  width: 50%;
}

input {
  width: 50%;
}

#RSVPList {
  display: flex;
}

.createGuest {

}

#RSVPBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.supplyList {
  display: flex;
  flex-direction: column;
}

#suppliesBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
