body {
  font-family: "Open Sans", sans-serif;
  color: #353535;
  background-image: url("https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-color: rgb(184, 184, 184);
  background-blend-mode: screen;
}
#eventform {
  display: flex;
  width: 400px;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  width: 100%;
}

#eventform input {
  padding: 7px;
  margin: 3px;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  width: 150px;
}

.createGuest input {
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  padding: 4px 0;
  width: 250px;
}

.createSupplies input {
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  padding: 4px 0;
  width: 250px;
}

.createActivity input {
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  padding: 4px 0;
  width: 250px;
}

h3,
input,
#claimbtn,
#claimInput {
  display: inline-block;
  padding-right: 10px;
  margin: 0;
}

h3 {
  color: rgb(33, 32, 32);
  font-size: 16px;
}
#claimInput {
  margin: 5px 5px 5px 15px;
  padding: 4px 0;
  width: 130px;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
}

.addbutton {
  margin: 10px 0 10px 5px;
  width: 100px;
  background-color: #919191;
  color: white;
  border-color: #919191;
}

#suppliesBox {
  display: flex;
  width: 400px;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  padding: 10px;
}

#submit {
  margin: 5px;
  font-size: 16;
  position: relative;
  //   right: -150px;
  width: 100px;
  cursor: pointer;
  &:hover {
    background-color: #919191;
    color: white;
    border: 1px solid #919191;
  }
  //   display: flex;
  //   width: 400px;
  //   justify-content: flex-end;
}

.row {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
}

h1 {
  text-align: center;
  color: #0d475c;
}

.title,
.home_label {
  font-size: 20pt;
  font-weight: bold;
  color: #0d475c;
}

.home_label {
  margin: 20px;
}

.home_buttons {
  margin: 10px 10px 30px 10px;
  border-color: white;
}
.container {
  border-style: solid;
  background-color: white;
  height: 130px;
  width: 400px;
  margin-bottom: 20%;
}

#RSVPList {
  display: flex;
}

#RSVPBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.supplyList {
  display: flex;
  flex-direction: column;
}

#suppliesBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button,
.addButton {
  font-size: 16px;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  &:hover {
    background-color: #ababab;
    color: white;
    border: 1px solid #ababab;
    border-radius: 5px;
  }
}
